<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<!--
		TODO: Add some meta name/value pairs,
			(eg. <meta name="Company"> content="ReplicantTech")
	-->
	<title>AnalyticalWizards | R model dashboard</title>

	<!-- Compiled and minified Semantic CSS -->
	<!-- TODD: Import from package for custom themes -->
	<link rel="stylesheet"
		href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
</head>

<body>
<div id="application"></div>

<!-- Application -->
<script src="{{ url_for('static', filename='vendor.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='app.bundle.js') }}"></script>

</body>
</html>

